body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    text-align: center;
}


nav {
  float: left;
  width: 30%;
  background: #ccc;
  padding: 20px;
}


section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  text-align: center;
}